<div class="card">
    <a href="/post/{{id}}"><h4>Title: {{title}}</h4></a>
    <p>Username: {{user.username}}</p>
        <p>Created at: {{format_date created_at}}</p>
        <p>Post: {{post_text}}</p>
</div>

<div>
    <a href="/post/{{id}}">{{comments.length}}</a>
</div>